name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Push git tag
        uses: bana118/action-autotag@2d64822393af6f3f9db06ad3d1a51c6d756ac2f5
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          strategy: regex
          regex_pattern: "\"version\": \"(?<version>\\d+\\.\\d+\\.\\d+(.+)?)\"\\n?"
          root: "manifest.json"
